// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$khaki: #C6AD94;
$melon: #FAB3A9;
$sea-green: #7FB285;
$marsala: #463239;
$pink: #ED6B86;
