.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}


.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 1px;
}

.card-product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.card-product a {
  text-decoration: none;
  color: black;
}

.card-product a:hover {
  background-color: #C6AD94;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-infos {
  height: 200px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 0
}

.card-product .card-product-infos {
  padding: 16px;
}
